
.quote {
  font-size: 3em;
  
}
.source {
  font-size: 2em;
  
}

.citation {
  font-style: italic;
  font-size: 1.5em;
}

.series {
  /* font-style: italic; */
  font-size: 1.5em;
}

.year {
  font-style: italic;
  font-size: 1.5em;
}

#quote-box {
  /* source: https://css-tricks.com/centering-css-complete-guide/ */
  padding: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 20px;
}
#button {
  font-size: 1em;
  padding: 1%;
  position: absolute;
  top: 75%;
  left: 80%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 25px;
}

.button {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-style: inherit;
  color: black;
  text-decoration: none;;
  padding: 9px;
  border: solid 1px;
  
  border-width: 1px;
}